
<style>
    .ulxmenu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .lixmenu {
        float: right;
    }

    .lixmenu a {
        display: block;
        padding: 8px;
    }
</style>

<header>
        <div style=" background-color: #dddddd;">
            <div style="float:right;"><label >Raymond Milca</label>&nbsp;<input  type="button" value="Logout" onclick="window.location = '/memberPortal/login'"/></div>
            <br />
            <br />
            <div>
                <ul class="ulxmenu">
                    <li class="lixmenu"> <a href="/memberPortal/myaccount"> My Account</a> </li>
                    <li class="lixmenu"> <a href="#"> Billings</a> </li>
                    <li class="lixmenu"> <a href="/memberPortal/supportworkers"> Support Workers</a> </li>
                    <li class="lixmenu"> <a href="/memberportal/jobposts"> Job Postings</a> </li>
                    <li class="lixmenu"> <a href="/memberportal/timesheets"> Timesheets</a> </li>
                    <li class="lixmenu"> <a href="/memberportal/inbox"> Inbox</a> </li>
                    <li class="lixmenu"> <a href="/memberportal/dashboard"> Dashboard</a> </li>
                </ul>
            </div>
        </div>

</header>
