################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


.vs/
HelperBees Release/HelperBees/HelperBess.WebApiCore.runtimeconfig.json
HelperBees Release/
HelperBees/obj/Release/netcoreapp3.1/HelperBees.GeneratedMSBuildEditorConfig.editorconfig
HelperBess.WebApiCore/obj/Release/netcoreapp3.1/HelperBess.WebApiCore.GeneratedMSBuildEditorConfig.editorconfig
