################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelperBees/bin
/.vs/HelperBees
*.user
/HelperBess.WebApiCore/bin
/HelperBess.WebApiCore/obj
/HelperBees/obj
