################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


.vs/
HelperBees Release/HelperBees/HelperBess.WebApiCore.runtimeconfig.json
HelperBees Release/
