
@{
    ViewData["Title"] = "InboxDialogue";
    Layout = "~/Views/Shared/_MemberPortal.cshtml";
}

<input type="button" value="Back to Inbox" onclick="window.location = '/memberPortal/inbox'" />
<br />

<h1>Activity with Jane Doe</h1>

<br />
<input type="button" value="Send Message" onclick="window.location = '/memberPortal/inbox'" />