
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/_MemberPortal.cshtml";
}

<h1>Inbox</h1>
<br />
<div style="margin:auto;">
    <table style="width:90%; border:2px solid black;">
        <thead>
            <tr>
                <th></th>
                <th>Support Worker</th>
                <th>Job</th>
                <th>Last Message</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>NEW</td>
                <td><a href="/memberportal/inboxdialogue">Jane Doe</a></td>
                <td>Job Name</td>
                <td>1st of Feb</td>
                <td>Active</td>
                <td><a href="/memberportal/inboxdialogue">Archive</a></td>
            </tr>
        </tbody>
    </table>
</div>

