
@{
    ViewData["Title"] = "Job Submission";
    Layout = "~/Views/Shared/_MemberPortal.cshtml";
}

<h1>Post a New Job</h1>
<br />
<div><input type="button" value="Archive" onclick="window.location = '/memberPortal/jobposts'"/>&nbsp;
    <input type="button" value="Post Job to Local Support Workers"  onclick="window.location = '/memberPortal/jobposts'"/></div>