
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<h1>Login</h1>

<div>

    <div>
        <input type="text" placeholder="Enter username">
    </div>
    <div><input type="password" placeholder="Enter password"></div>
    <div>
        <button type="button" onclick="window.location = '/memberPortal/dashboard'">Login</button>
    </div>
    <br />
    <br />
    <div>
        <button type="button" onclick="window.location = '/supportworkerportal/login'">Go to SW Portal</button>
        <button type="button" onclick="window.location = '/supportcoordinator/login'">Go to Support Coordinator</button>
    </div>
</div>