
@{
    ViewData["Title"] = "Supporting Info";
    Layout = "~/Views/Shared/_MemberPortal.cshtml";
}

<h1>Client Profile</h1>

<div class='parent'>
    <div style="display: inline-block; width:65%">
        <h3>Supporting Information</h3>
        <div>
            <select>
                <option>Are there smokers living in the house?</option>
            </select>
        </div>
        <div><input type="button" value="Update Your Profile" onclick="window.location = '/memberPortal/dashboard'" /></div>
    </div>
    <div style="display: inline-block; width: 30%">
        <div>
            <ul>
                <li> <a href="/memberPortal/accountdetails"> Account Details</a> </li>
                <li> <a href="/memberPortal/carerecipientdetails"> Care Recipient Details</a> </li>
                <li> <a href="/memberPortal/medicaldetails"> Medical Details</a> </li>
                <li> <a href="/memberPortal/paymentdetails"> Payment Details</a> </li>
                <li> <a href="/memberPortal/supportinginfo"> Supporting Information</a> </li>
            </ul>
        </div>
    </div>
</div>