
@{
    ViewData["Title"] = "My Clients";
    Layout = "~/Views/Shared/_SupportWorkerPortal.cshtml";
}

<div>
    <h1>My Clients</h1>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></p>
    <div style="margin:auto;">
        <table style="width:90%; border:2px solid black;">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Current Job</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tim Barnett</td>
                    <td>Job Name</td>
                    <td>1st of February 2021</td>
                    <td>Active</td>
                    <td><a href="#">Archive</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
