
<style>

    .xfooter {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 30px;
        background: #ccc;
    }

    .ulxfooter {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .lixfooter {
        float: right;
    }

        .lixfooter a {
            padding: 8px;
        }
</style>

<header>
    <div style=" background-color: #dddddd;" class="xfooter">
       
        <div>
            <ul class="ulxfooter">
                <li class="lixfooter" style="display: block; padding: 8px;">abcd</li>
                <li class="lixfooter" style="display: block; padding: 8px;">abcd</li>
                <li class="lixfooter" style="display: block; padding: 8px;">abcd</li>
                <li class="lixfooter"> <a href="#"> Contact Us</a> </li>
                <li class="lixfooter"> <a href="#"> Help Centre</a> </li>
            </ul>
        </div>
    </div>

</header>