
<style>
    .ulxmenu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .lixmenu {
        float: right;
    }

    .lixmenu a {
        display: block;
        padding: 8px;
    }
</style>

<header>
        <div style=" background-color: #dddddd;">
            <div style="float:right;"><label onclick="window.location = '/supportcoordinator/myaccount'">Raymond Milca</label>&nbsp;<input  type="button" value="Logout" onclick="window.location = '/supportcoordinator/login'"/></div>
            <br />
            <br />
        </div>

</header>
